body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: grey;
            background-color: blue;
}
li {
font-size: 14px;
font-style: italic;
font-weight: normal;
 }
a {
color: maroon;
text-decoration: none;
 }
 a:hover {
    text-decoration: underline;
 }
 .ResumeListHeading {
    font-weight: bold;
    font-style: normal;
 }
 .underline {
    text-decoration: underline;}
    .bold {font-weight: bold;}
    .justify {text-align: justify;}


a:visited {
    color: blue;
}

.homebg {
    background-image: url('../images/images/download.jpg');
    background-position: top right;
    /* background-repeat: ; */
}
.box1 {
border-width: 1px;
border-style: solid;
border-color: rgb(198, 38, 38);

border:1px solid red
}
.box2 {
padding: 5px;
}
.box3 {
margin: 50px;
}